<div class="container">
  <div class="row">
    <div class="col-md-5">
      <p>
        <h3 class="productTitle"><%= @product.name %></h3>
      </p>

      <p>
        <%= image_tag(@product.photo.url, :width => "200", :height => "200", :class => "img-rounded") %>
      </p>

      <p>
        <strong>Autor:</strong>
        <%= @product.author %>
      </p>

      <p>
        <strong>Stan:</strong>
        <%= @product.condition.name %>
      </p>

      <p>
        <strong>Gatunek:</strong>
        <%= @product.type_of.name %>
      </p>

      <p>
        <strong>Opis:</strong>
        <% if @product.description? %>
          <%= @product.description %>
        <% else %>
          Brak opisu
        <% end %>
      </p>

    </div>
    <div class="col-md-7"></div>
  </div>
</div>

<% if current_user == @product.user %>
  <div class="container">
    <div class="row">
      <div class="col-md-5">
        <%= link_to 'Edytuj dane książki', edit_product_path(@product), class: "btn btn-primary" %>
      </div>
      <div class="col-md-7"></div>
    </div>
  </div>
<% else %>
  <% @products.each do |pr| %>
    <ul>
      <%= pr.name %>
      <%= link_to "Złóż ofertę", controller: "offers", action: "create", id: pr.id, product_id: @product.id %>
    </ul>
  <% end %>
<% end %>